GITHUB_REPOSITORY=Chuan2018-dev/CAMPUSFIX
GITHUB_VISIBILITY=public

CAMPUSFIX_API_BASE=https://campusfix-api.koyeb.app/api
CAMPUSFIX_ANDROID_APK_URL=https://github.com/Chuan2018-dev/CAMPUSFIX/releases/latest/download/CampusFix.apk
CLOUDFLARE_PROJECT_NAME=campusfix
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

RENDER_SERVICE_NAME=campusfix-api
RENDER_API_BASE=https://campusfix-api.onrender.com/api

ALWAYSDATA_ACCOUNT=campusfix
ALWAYSDATA_API_BASE=https://campusfix.alwaysdata.net/api
INFINITYFREE_API_BASE=https://campusfix.infinityfreeapp.com/api

KOYEB_APP_NAME=campusfix-api
KOYEB_SERVICE_NAME=api
KOYEB_REGION=was
KOYEB_INSTANCE_TYPE=nano
KOYEB_TOKEN=

APP_KEY=
APP_URL=https://campusfix-api.koyeb.app

DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
AIVEN_CA_CERT_BASE64=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
